root { 
    display: block;
}

#cover {
    position: fixed; 
    height: 100%; 
    width: 100%; 
    top:0; 
    left: 0; 
    z-index:9999;
}

html {
    height: 100%;
}

body {
    position:relative;
    width: 100%;
    height: 100%;
}

#game {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 650px;
    height: 650px;
    margin-top: -270px;
    margin-left: -340px;
    -webkit-appearance: none;
    box-shadow: 0px 0px 38px 15px #7CFC00;
    
    -webkit-box-shadow: 0px 0px 38px 15px #7CFC00;
    -moz-box-shadow: 0px 0px 10px 5px #7CFC00;
}

header {
    width: 100%;
    overflow: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.scaleZeroRotate180 {
    -webkit-transform: rotateY(180deg) scale(0.5) translateZ(0px);
    -moz-transform: rotateY(180deg) scale(0.5) translateZ(0px);
    -o-transform: rotateY(180deg) scale(0.5) translateZ(0px);
    transform: rotateY(180deg) scale(0.5) translateZ(0px);
    -webkit-animation-name: flipAndZoomOutAnim;
    -moz-animation-name: flipAndZoomOutAnim;
    -o-animation_name: flipAndZoomOutAnim;
    animation-name: flipAndZoomOutAnim;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.flip {
    -webkit-transform: rotateY(180deg) scale(0.5) translateZ(0px);
    -moz-transform: rotateY(180deg) scale(0.5) translateZ(0px);
    -o-transform: rotateY(180deg) scale(0.5) translateZ(0px);
    transform: rotateY(180deg) scale(0.5) translateZ(0px);
}

.solved {
    -webkit-appearance: none;;
    box-shadow: 0px 0px 38px 15px #7CFC00;
    -webkit-box-shadow: 0px 0px 38px 15px #7CFC00;
    -moz-box-shadow: 0px 0px 10px 5px #7CFC00
}

@-webkit-keyframes flipAndZoomOutAnim
{
   0% { -webkit-transform: rotateY(180deg) scale(0.5); opacity: 1; }
   100%   { -webkit-transform: rotateY(180deg) scale(0.25); opacity: 0; }
}

@keyframes flipAndZoomOutAnim
{
   0% { transform: rotateY(180deg) scale(0.5); opacity: 1; }
   100%   { transform: rotateY(180deg) scale(0.25); opacity: 0; }
}

@-webkit-keyframes flipAndZoomAnim
{
   0%  { -webkit-transform: rotateY(180deg) scale(0.5) translateZ(-1px) }
   25%  { -webkit-transform: rotateY(180deg) scale(1.0) translateZ(-1px) }
   75%  { -webkit-transform: rotateY(180deg) scale(1.0) translateZ(-1px) }
   100% { -webkit-transform: rotateY(180deg) scale(0.5 ) translateZ(0px) }
}

@keyframes flipAndZoomAnim
{
   0%  { transform: rotateY(180deg) scale(0.5) translateZ(-1px) }
   25%  { transform: rotateY(180deg) scale(1.0) translateZ(-1px) }
   75%  { transform: rotateY(180deg) scale(1.0) translateZ(-1px) }
   100% { transform: rotateY(180deg) scale(0.5) translateZ(0px) }
}

.flipAndZoom {
    -webkit-transform: rotateY(180deg) scale(0.5) translateZ(0px);
    -moz-transform: rotateY(180deg) scale(0.5) translateZ(0px);
    -o-transform: rotateY(180deg) scale(0.5) translateZ(0px);
    transform: rotateY(180deg) scale(0.5) translateZ(0px);
    -webkit-animation-name: flipAndZoomAnim;
    -moz-animation-name: flipAndZoomAnim;
    -o-animation-name: flipAndZoomAnim;
    animation-name: flipAndZoomAnim;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

#boardContainer {
    padding-top: 10px;
    width: 650px;
    height: 500px;
    position: relative;
}

#board {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 450px;
    margin-top: -225px;
    margin-left: -300px;
    -webkit-perspective: 1000;
    perspective: 1000;
}

#startGameButton1 {
    display:block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-top: -100px;
    margin-left: -200px;
}

#instructions {
    padding-bottom: 50px;
    display:block;
    margin: 0 auto;
    text-align: center;
}

.scaleDown{
    -webkit-transform: rotateY(0deg) scale(0.5) translateZ(0px);
    -moz-transform: rotateY(0deg) scale(0.5) translateZ(0px);
    -o-transform: rotateY(0deg) scale(0.5) translateZ(0px);
    transform: rotateY(0deg) scale(0.5) translateZ(0px);
}

.card {
    float:left;
    width: 110px;
    height: 139px;
    margin-left: 10px;
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    position: relative;
    top: -35px;
}

.card img {
    width: 110px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                    not supported by any browser */
}

.container { 
    width: 250px;
    height: 260px;
    position: relative;
}

#soundSettings {
    float: right;
    margin-right: 10px;
}

figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
   -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    -webkit-transform: rotateY(180deg) scale(1) translateZ(0px);
    -moz-transform: rotateY(180deg) scale(1) translateZ(0px);
    -o-transform: rotateY(180deg) scale(1) translateZ(0px);
    transform: rotateY(180deg) scale(1) translateZ(0px);
}

.hidden {
    display: none;
}