html {
    height: 100%;
}

.flip {
    transform: rotateY(180deg);
}

.flipper {
    float:left;
    width: 110px;
    height: 139px;
    cursor: pointer;
    transition: 1s;
    position: relative;
    transform-style: preserve-3d;
}

.front, .back {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: 1s;
    transform-style: preserve-3d;
}

.back {
    background-color: blue;
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}

.front {
    background-color: red;
    -ms-transform: rotateY(0deg);
    z-index: 2;
}

article {
    perspective: 1000;
    height: 114px;
    width: 114px;
}

.invisible {
    -ms-transform: rotateY(180deg);
}

.visible {
    -ms-transform: rotateY(0deg);
}